body {
    background-image: url("https://i.redd.it/w7mvzief2wpz.jpg");
}
ul {
    border: 1px solid #cecece;
    border-width: 1px 0;
    list-style: none;
    margin-top: 0;
	margin-bottom: 0;
	margin-left: 15%;
	margin-right: 15%;
    padding: 0;
    text-align: center;
	width: 70%
}

li {
    display: inline;
}

li a {
    display: inline-block;
    padding: 10px;
	color: #000000;
	text-decoration: none;
	font-size: 18px;
}

li a:hover {
    background-color: #848484;
    color: white;
}

h1 {
	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.notecard {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 300px;
	width: 300px;
	padding: 0;
	margin: 20px;
	box-shadow: 8px 12px 5px grey;
	transform: rotate(1deg);
	overflow: hidden;
}

.notecard:hover {
	box-shadow: 6px 9px 4px grey;
}

.notecard:nth-of-type(1) {
	background: #9933ff;
	transform: rotate(0.3deg);
}

.notecard:nth-of-type(2) {
	background: #3366ff;
}

.notecard:nth-of-type(3) {
	transform: rotate(-0.7deg);
	background: #0099cc;
}

h1 {
	font-family: 'Acme', cursive;
	margin: 0;
}

p {
	margin: 10px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 150%;
}
